<!– editBook.html -->
<html>
	<head>
        <title>Delete Books</title>
    </head>
	<body>
        <h1>Delete Book</h1>
        <p>Are you sure you want to delete?</p>
        <form action="{{url_for('deleteBook', book_id = id)}}" method = 'POST'>
			<input type='Delete' value='Submit'>
		</form>

	</body>
</html>
