<!– editBook.html -->
<html>
	<head>
        <title>Edit Books</title>
    </head>
	<body>
        <h1>Edit Book</h1>
        <form action="{{url_for('editBook', book_id = id)}}" method = 'POST'>
			<input type='text' size='30' name='name'>
			<input type='submit' value='Submit'>
		</form>

	</body>
</html>
